body{
    font-family: SoDo Sans, Helvetica, Arial, sans-serif;
  }
  #tarjeta-uno{
    background-color: #1E3932;
  }
  
  
  
  #tarjeta-uno .contenedor-imagen .imagen-starbucks{
    max-width: 100%;
  }


  #tarjeta-dos{
    background-color: #0044b4;
  }
  
  
  #tarjeta-dos .contenedor-imagen .imagen-starbucks{
    max-width: 100%;
  }

  #tarjeta-tres{
    background-color: #d50032;
  }
    
  
  #tarjeta-tres .contenedor-imagen .imagen-starbucks{
    max-width: 100%;
  }

  #tarjeta-cuatro{
    background-color: #1E3932;
  }  
  
  #tarjeta-cuatro .contenedor-imagen .imagen-starbucks{
    max-width: 100%;
  }


  #tarjeta-uno .contenedor-imagen,
  #tarjeta-dos .contenedor-imagen,  
  #tarjeta-tres .contenedor-imagen,
  #tarjeta-cuatro .contenedor-imagen{  
    vertical-align: middle;
  }


  .contenedor-texto{
    color: white;
    text-align: center;
    font-size: 1.188rem;
    line-height: 1.75;
    max-width: 900px;
    padding: 32px 16px;
  }

  @media (min-width: 768px) {
    .contenedor-texto{
        margin: 0 auto;
        max-width: 83%;
    }
}
  
  .contenedor-interno{
    display: inline-block;  
       
  }


  .block--banner {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    align-items: center;
    display: grid;  
    grid-template-columns: repeat(2, 1fr);
}


.title.xl {
  font-size: 1.875rem;
  line-height: 1.385;
  font-weight: 600;
}