body{
    font-family: SoDo Sans, Helvetica, Arial, sans-serif;
    background-color: #fff;
    color: rgba(0, 0, 0, .87);
    font-family: SoDo Sans, Helvetica, Arial, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "calt";
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: -.01em;
    min-width: 350px;
    margin: 0;

  }

  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a{
    text-decoration: none;
  }

  #tarjeta-uno{
    background-color: #1E3932;
  }
  
  
  
  #tarjeta-uno .contenedor-imagen .imagen-starbucks{
    max-width: 100%;
  }


  #tarjeta-dos{
    background-color: #0044b4;
  }
  
  
  #tarjeta-dos .contenedor-imagen .imagen-starbucks{
    max-width: 100%;
  }

  #tarjeta-tres{
    background-color: #d50032;
  }
    
  
  #tarjeta-tres .contenedor-imagen .imagen-starbucks{
    max-width: 100%;
  }

  #tarjeta-cuatro{
    background-color: #1E3932;
  }  
  
  #tarjeta-cuatro .contenedor-imagen .imagen-starbucks{
    max-width: 100%;
  }

  #tarjeta-cinco{
    background-color: #d50032;
  }  
  
  #tarjeta-cinco .contenedor-imagen .imagen-starbucks{
    max-width: 100%;
  }

  #tarjeta-seis .contenedor-imagen .imagen-starbucks{
    max-width: 100%;
  }

  #tarjeta-uno .contenedor-imagen,
  #tarjeta-dos .contenedor-imagen,  
  #tarjeta-tres .contenedor-imagen,
  #tarjeta-cuatro .contenedor-imagen,
  #tarjeta-cinco .contenedor-imagen,
  #tarjeta-seis .contenedor-imagen{  
    vertical-align: middle;
  }


  .contenedor-texto{
    color: white;
    text-align: center;
    font-size: 1.188rem;
    line-height: 1.75;
    max-width: 900px;
    padding: 32px 16px;
  }

 
  .contenedor-interno{
    display: inline-block;  
       
  }


  .block--banner {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    align-items: center;
    display: grid;  
    grid-template-columns: repeat(2, 1fr);
}


.title.xl {
  font-size: 1.875rem;
  line-height: 1.385;
  font-weight: 600;
}

.button {  
  display: inline-block;
  background: none;
  border: 1px solid;
  border-radius: 50px;
  padding: 7px 16px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  transition: all .2s ease;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.row {
  display: block;
  margin-left: 0;
  margin-right: 0;
}

*, :after, :before {
  box-sizing: border-box;
}

div {
  display: block;
  unicode-bidi: isolate;
}

.block--banner-wrapper {  
  grid-gap: 20px;
  gap: 20px;
  margin-bottom: 20px;  
}

.block-2-column .block-content {
  align-items: center;
  display: grid;
}

header{
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #fff;
  box-shadow: 0 3px 3px rgba(0, 0, 0, .1);
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 2;
}

.header-container {   
  margin-left: auto;
  margin-right: auto;
  max-width: 1240px;
}

.header-container .main-container {   
  display: grid;  
  grid-template-columns: 60px 1fr;
  grid-gap: 40px;
  gap: 40px;  
  justify-content: space-between;
}

/* Logo */
.logo img {
  height: 50px;
}
.main-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-menu ul li{
display: inline-block;
margin-right: 40px;
}

.main-menu ul li a{
  font-size: .875rem;
    letter-spacing: .1em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration:none;
    color: inherit;
}

.main-menu a.store-locator {
  border: 0;
  font-weight: 600;
  padding-left: 20px;
  position: relative;
}

.main-menu a.menu-register{
  color: #fff;
  background-color: #000;
}

.main-menu a.store-locator:before {
  background-image: url(/stores.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  text-indent: -9999em;
  background-size: 15px;
  bottom: 0;
  content: "";
  height: 22px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 15px;
}

.main-menu a.store-locator:hover,
.main-menu a.menu-login:hover,
.main-menu a.menu-register:hover{
  opacity: .8;
}

.main-menu .menu-left ul li a:hover{
  color: #00754a;
    position: relative;
}

.main-menu .menu-left ul li a:hover::before{
  bottom: -37px;
        background: #00754a;
        content: "";
        height: 5px;
        display: block;
        position: absolute;
        width: 100%;
}


.region-prefooter {
  box-shadow: 0 -3px 3px rgba(0, 0, 0, .1);
  position: relative;
  z-index: 1;
}
.region {
  padding-bottom: 15px;
  padding-top: 15px;
}

.container {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}
.region-prefooter .wrapper-menu {
  position: relative;
}
.region-prefooter .wrapper-menu .block--menu {
  margin-bottom: 40px;
}

.region-prefooter h3 {
  font-size: 1rem;
  margin-bottom: 24px;
  position: relative;
}
.text-regular {
  font-weight: 400;
}

.region-prefooter .block--menu ul a {
  color: #777;
  font-weight: 400;
  font-size: 1rem;
}

.region-prefooter .block--menu ul a:hover {
  color: #000;
}

.region-prefooter .block--menu ul li:first-child {
  padding-top: 0;
}

.region-prefooter .block--menu ul li {
  margin-bottom: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .region-prefooter h3 {
      font-size: calc(1.0188rem + .2256vw);
  }
}

@media (min-width: 1024px) {
  .l-region--prefooter {
      display: flex
;
      justify-content: space-between;
  }
  .region-prefooter .wrapper-menu {
    display: flex;
}

.region-prefooter .wrapper-menu .block--menu {
  margin-bottom: 0;
  margin-right: 40px;
  max-width: 190px;
}
}

@media (min-width: 768px) {
  .region {
    padding-bottom: 20px;
    padding-top: 20px;
} 
  .block--banner-wrapper {
      grid-gap: 30px;
      gap: 30px;
      margin-bottom: 30px;
  }

  .contenedor-texto{
      margin: 0 auto;
      max-width: 83%;
  }

  .size-50 .block-2-column .block-content {
    grid-template-columns: 1fr;
  }


  .block-2-column .block-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .size-50 .block-image {
    grid-column: 1;
  }

  .region-prefooter h3 {
    font-size: 1.188rem;
}
}


.bg-cherry-blossom{
  background-color: #f6bfd9;
  color: #d50032;
}

.bg-sky-blue{
  background-color: #98cde4;
  color: #003b49;
}


